{% extends 'base.html' %}


{% block title %}
Страница о разработчиков
{% endblock %}

{% block body %}
<H1>Страница о разработчиков</H1>
<li>

    <h1> </h1>

    <H1>Главный разработчик-Александр,так-же писал сайт</H1>

    <loren5></loren5>

<li>

    <h1>  </h1>

    <H1>Помогал в разработке текста-Даниил</H1>

    <loren5></loren5>



<li>

    <h1>Идея-совместная</h1>

    <loren5></loren5>
</li>
<li>

<h1> </h1>

    <h1>Делал лого-Александр</h1>


     <img class="header3__img" src="{{ url_for('static', filename='img/law3.png') }}" alt="law3">



{% endblock %}
