{% extends 'base.html' %}

{% block title %}
Страница о нашем AI
{% endblock %}

{% block body %}
<h1>Страница о нашем DreamWork AI</h1>

<div>
<li>
    <lotem5>Наш AI-помощник будет почти всегда актуален, так как у 70% родителей нет времени на объяснение тем из школьной программы. А наш AI-помощник работает 24/7, в любое время суток, — и это огромный плюс нашего AI-помощника.

        <h1> </h1>

    Пример работы AI помощника

    </lotem5>
</li>

        <img class="header1__img" src="{{ url_for('static', filename='img/law1.png') }}" alt="law1">

  <h1> </h1>

 <h1>Актуальность</h1>

    <H1> </H1>


</div>

<div>

<li>
    <lotem5>Наш AI помощник будет почти всегда актуальный, так как у 70% родителей нету времени на объяснений тем из школной программы а наш AI помощник работет 24/7 в любое время суток и это огромный плюс нашего AI помощника
    </lotem5>

</li>

<div>



    <h1>  </h1>

    <h1>Наша цель</h1>

     <h1> </h1>

    <lotem5>Мы помогаем родителям отдыхать после работы, так как их дети занимаются с нашим AI. Он не решает задачи за ребенка, а объясняет материал, чтобы школьник учился самостоятельно, понимал тему и не списывал.

Почему это удобно:

· Ребенок учится сам, но может обратиться к AI за подсказкой.
· Человек (родитель) устает, а AI доступен всегда и готов помочь в любое время.</lotem5>

</li>

</div>



    <div>

        <h1>  </h1>

        <h1>Почему это важно?</h1>

    <lotem5>Так как родители приходят уставшие с работы (с моральной точки зрения), мы помогаем им отдохнуть, ведь их ребенок уже изучает весь материал с нашим ИИ. Важно отметить: он не решает всё за ребенка, он лишь объясняет и помогает изучить тот или иной материал. Ведь ребенок должен всё понять сам и решать, а не списывать, не зная, что он вообще пишет.</lotem5>
</li>

        </div>

    <H1> </H1>

    <h1>Проблемы нашего AI</h1>

    <lotem5>Проблемы вполне адекватные, так как бот совсем недавно был создан. Он банально сырой, и, если честно, у него еще нет всех библиотек и фреймворков. Также бот достаточно много уходит на техобслуживание, а так — почти проблем нет.
</lotem5>

    <h1>  </h1>

    <h1>______________</h1>

<h1>Спасибо за вимание!</h1>

    <h1>______________</h1>

    <h1> </h1>

{% endblock %}

